
@{
    ViewData["Title"] = "Gallery";
}

<h1>Gallery</h1>

<img src="https://socialnewsdaily.com/wp-content/uploads/2014/05/rick-astley-rickrolling.jpg" alt="Image cannot be shown right now." />