@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <img src="https://www.thesprucepets.com/thmb/A-lj23wOXsDRc_m3xNlwTl-tGPU=/6200x4138/filters:fill(auto,1)/GettyImages-523693627-976d1977942142c8b171a95057791a3e.jpg" alt="Avatar" style="border-radius:50%" width="200" height="200"/>

    </div>
    <h1 class="display-4" style="color:white">Welcome</h1>
    <p style="color:white">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
